:root{
    --background: white;
    --foreground: grey;
    --font-color: black;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgorund);
}
#userInput{
    color: var(--font-color);
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -600%);
}
#displayArea{
    color: var(--font-color);
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator{
    border: 1vh solid black;
    margin: auto;
    height: 65%;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator h1{
    font-size: 72;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -650%);
}
#logo{
    position: absolute;
    width: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-610%, -560%);
}